/* corpo da página */
body{
    background-color: #e2ebff;
    color: rgb(64, 53, 155);
    font-family: 'Sora', sans-serif;
    margin: auto;
    padding-top: 2rem;
    width: 550px;
}

/* cabeçalho */
.calculadora{
    width: 5em;
    display: block;
    margin: auto;
    padding: 0 0 1rem 0;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}

/* formulario da calculadora  */
.dados-calc{
    margin-top: 1.5em;
    text-transform: uppercase;
}

.name, .peso, .altura{
    margin-top: 13px;
}

button{
    margin-top: 1em;
    text-transform: uppercase;
}

h3{
    margin-top: 15px;
    font-size: 1.5em;
}

details i{
    text-align: justify;
}

/* rodapé */
footer{
    border-top: rgb(64, 53, 155) 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(64, 53, 155);
}

.gitlogo{
    width: 2.5em;
    margin: auto;
    padding-top: 5px;
}

@media screen and (max-width: 800px) {
    body{
        width:340px;
    }
    
    .calculadora{
        width: 3.5rem;
        display: block;
        margin: auto;
        padding: 0 0 1rem 0;
    }

    h1{
        font-size: 2.45rem;
        text-align: center;
    }
    
    .title__legend{
        text-align: center;
    }

    h3{
        text-align: center;
    }

    .gitlogo{
        width: 1.45rem;
    }

    footer p{
        margin-bottom: 0;
    };
}